<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- <nav th:replace="fragments :: navigation"></nav> -->

    <h1 th:text="${title}"></h1>

    <p th:unless="${stock}">No stock found</p>

    <div th:if="${stock}">
        <h2 th:text="${stock.getName() + ' (' + stock.getSymbol() + ')'}"></h2>
        <div>
            <strong><span th:text="${stock.getPrice()}"></span></strong>
           <span th:if="${diff > 0}"
                  th:text="'+' + ${diff}"
                  style="color:green;"></span>
            <span th:if="${diff < 0}"
            th:text="${diff}"
            style="color:red;"></span>
            <span th:if="${diff == 0}"
                  th:text="${diff}"></span>
            <span th:replace="fragments :: price-cite"></span>
        </div>
        <hr>
        <table>
            <tr>
                <td><Strong>Avg. Daily Variance:  </Strong></td>
                <td th:text="${stock.getVariance()}"></td>
            </tr>
            <tr>
                <td><Strong>Yearly Dividend:  </Strong></td>
                <td th:text="${stock.getDividend()}"></td>
            </tr>
            <tr>
                <td><Strong>Quarterly Dividend:  </Strong></td>
                <td th:text="${stock.getqDividend()}"></td>
            </tr>
            <tr>
                <td><Strong>Annual Yield:  </Strong></td>
                <td th:text="${stock.getYield()}"></td>
            </tr>
            <tr>
                <td><Strong>Last Dividend Date:  </Strong></td>
                <td th:text="${stock.getDate()}"></td>
            </tr>
        </table>
    </div>
    <hr>
    <form method="post" action="/simstock/add">
        <input id="symbol" type="hidden" name="symbol" th:value="${stock.getSymbol()}" />
        <input type="submit" value="Create SimStock" />
    </form>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>