<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- <nav th:replace="fragments :: navigation"></nav> -->

    <h1 th:text="${title}"></h1>
    <p th:unless="${simStock}">No simStock found</p>

    <div>
        <h2 th:text="${simStock.getName() + ' (' + simStock.getSymbol() + ')'}"></h2>
        <div>
            <strong><span th:text="${simStock.getPrice()} + '*'"></span></strong>
            <span th:replace="fragments :: price"></span>
        </div>
        <hr />
        <form method="post" style="max-width:600px;" th:object="${position}">
            <div class="form-group">
                <label th:for="symbol">Symbol</label>
                <input class="form-control" type="hidden" th:field="*{symbol}" />
                <span th:errors="*{symbol}" class="error"></span>
            </div>
            <div class="form-group">
                <label th:for="shares"># of Shares</label>
                <input class="form-control" th:field="*{shares}" />
                <span th:errors="*{shares}" class="error"></span>
            </div>
            <div class="form-group">
                <label th:for="percentage">** Investment %</label>
                <input class="form-control" th:field="*{percentage}" />
                <span th:errors="*{percentage}" class="error"></span>
            </div>
            <div class="form-group checkbox">
                <label th:for="reinvest">*** Reinvest Shares in this Stock</label>
                <input class="form-control" type="checkbox" th:field="*{reinvest}" />
                <span th:errors="*{reinvest}" class="error"></span>
            </div>
            <input type="submit" value="Edit Position" />
        </form>
    </div>

</body>
<footer>
    <hr />
    <div>
        <p>** - The percentage of the cash pool to use to reinvest in this position.</p>
        <p>*** - whether or not reinvest all the stock's dividends back into it. After buying shares, add the
            remainder to the cash pool</p>
    </div>
    <div th:replace="fragments :: data-cite"></div>
</footer>
</html>