<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${title}"></h1>
    <p th:unless="${position}">No simStock found</p>

    <div>
        <h2 th:text="${simstock.getName() + ' (' + simstock.getSymbol() + ')'}"></h2>
        <h4>(Previous Run)</h4>
        <div>
            <strong><span th:text="${position.getLastFinalPrice()} + '*'"></span></strong>
            <!-- <span th:replace="fragments :: price"></span> -->
        </div>
        <hr />
        <table>
            <tr>
                <td><Strong>Next expected Dividend:  </Strong></td>
                <td th:text="${simstock.getqDividend()}"></td>
            </tr>
            <tr>
                <td><Strong>Next Dividend Date:  </Strong></td>
                <td th:text="${simstock.showDate()}"></td>
            </tr>
        </table>
        <hr />
        <table>
            <tr>
                <td><Strong># Shares:  </Strong></td>
                <td th:text="${position.lastShares}"></td>
            </tr>
            <tr>
                <td><Strong>** Investment %:  </Strong></td>
                <td th:text="${position.lastPercentage}"></td>
            </tr>
            <tr>
                <td><Strong>*** Reinvestment all dividends in the same stock: </Strong></td>
                <td th:text="${position.lastReinvest}"></td>
            </tr>
            <tr>
                <td><Strong># Priority:  </Strong></td>
                <td th:text="${position.lastPriority}"></td>
            </tr>
        </table>
    </div>
    <hr />
    <p>
        <a th:href="@{'/portfolio/viewlast/' + ${position.getPortfolio().id}}">Back to Portfolio</a>
        <a th:href="@{'/position/edit/' + ${position.id}}">Edit</a>
    </p>
</div>
</body>
<footer>
    <hr />
    <div>
        <p>*   - The last price of the previous simulation run.</p>
        <p>**  - The percentage of the cash pool to use to reinvest in this position.</p>
        <p>*** - whether or not reinvest all the stock's dividends back into it. After buying shares, add the
        remainder to the cash pool</p>
    </div>
    <div th:replace="fragments :: data-cite"></div>
</footer>
</html>