<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Stocks</title>

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/stocks.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">Stock Simulator</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/stock}">Stocks</a></li>
                    <li><a th:href="@{/portfolio}">Portfolio</a></li>
                    <li><a th:href="@{/member/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <select class="form-control">
        <option th:fragment="compare" th:each="type : ${types}"
                th:text="${type.getName()}"
                th:value="${type}">
        </option>
    </select>

    <div th:fragment="price-cite">
        <cite>
            <p>* - The price listed above is either the previous closing price or the the most recent opening price,
                and not the <a href="https://iextrading.com/developer/">IEX Real-Time Price</a>.
                The number immediately after is the difference between that price and the first price of the week. </p>
        </cite>
    </div>
    <div th:fragment="price">
        <cite>
            <p>* - The price listed above is either the previous closing price or the the most recent opening price,
                and not the <a href="https://iextrading.com/developer/">IEX Real-Time Price</a>.</p>
        </cite>
    </div>
</body>
<footer>
    <div th:fragment="data-cite">
        <cite>
            <p>Data provided for free by <a href="https://iextrading.com/developer/">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.</p>
        </cite>
    </div>
</footer>
</html>