<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <p class="link-right"><a href="/member/login">Login</a> </p>

    <h1 class="text-center">Welcome to Robert's Stock Simulator!</h1>

    <div>
        <p class="text-center">
            Welcome to my Stock Simulator website where a member can take a portfolio of stocks that give a dividends and determined how many shares of those stocks they would have after reinvesting the dividends for so many years as well as the overall value of the portfolio.
        </p>
    </div>

</body>
<footer>
    <hr />
    <div th:replace="fragments :: data-cite"></div>
</footer>
</html>