<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${portfolios} and ${portfolios.size()}">No portfolios :(</p>

<table class="table" th:if="${portfolios} and ${portfolios.size()}">

    <tr>
        <th>Name</th>
        <th>Cash</th>
        <th>Balance</th>
        <th># of years Projected</th>
        <th>Previous run</th>
    </tr>

    <tr th:each="portfolio : ${portfolios}">
        <td><a th:href="@{'/portfolio/view/' + ${portfolio.id}}" th:text="${portfolio.name}"></a></td>
        <td th:text="${portfolio.cash}"></td>
        <td th:text="${portfolio.balance}"></td>
        <td th:text="${portfolio.years}"></td>
        <td><a th:href="@{'/portfolio/viewlast/' + ${portfolio.id}}">Previous run</a></td>
    </tr>
</table>

<hr/>
<a href="/portfolio/add">Create a portfolio</a>
<a href="/portfolio/remove">Remove a portfolio</a>
</div>
</body>
<footer>
    <hr />
    <div th:replace="fragments :: data-cite"></div>
</footer>
</html>