<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

<h1 th:text="${title}">Default Title</h1>
<h4>(Previous Run)</h4>

<p th:unless="${portfolio} and ${portfolio.getPositions().size()}">no positions on the portfolio :(</p>

<div>
    <table class="table" th:if="${portfolio} and ${portfolio.getPositions().size()}">

        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th># of Shares</th>
            <th>Investment % from dividend poll</th>
            <th>Reinvest Dividends</th>
            <th>Priority</th>
        </tr>

        <tr th:each="position : ${visablePositions}">
            <td><a th:href="@{'/position/viewlast/' + ${position.id}}" th:text="${position.symbol}"></a></td>
            <td th:if="${position.getSimStock() != null}" th:text="${position.getSimStock().name}"></td>
            <td th:unless="${position.getSimStock() != null}" th:text="${stocks.get(position.symbol)}"></td>
            <td th:text="${position.lastShares}"></td>
            <td th:text="${position.lastPercentage} + '%'"></td>
            <td th:text="${position.lastReinvest}"></td>
            <td th:text="${position.lastPriority}"></td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Cash</th>
            <th>Balance</th>
            <th>Yearly Income</th>
        </tr>
        <tr>
            <td th:text="${portfolio.getLastCash()}"></td>
            <td th:text="${portfolio.getLastBalance()}"></td>
            <td th:text="${portfolio.getLastTotalIncome()}"></td>
        </tr>
    </table>

    <p th:text="${'# of Years Projected: ' + portfolio.getLastYears()}"></p>
</div>

<hr />
<p>
    <a th:href="@{'/portfolio/view/' + ${portfolio.id}}">Current Run</a>
    <a class="link-right" href="/portfolio/">Back to Portfolio List</a>
</p>
</div>
</body>
<footer>
    <hr />
    <div th:replace="fragments :: data-cite"></div>
</footer>
</html>