<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${portfolio} and ${portfolio.getPositions().size()}">no positions on the portfolio :(</p>

<div>
    <table class="table" th:if="${portfolio} and ${portfolio.getPositions().size()}">

        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th># of Shares</th>
            <th>Investment % from dividend poll</th>
            <th>Reinvest Dividends</th>
            <th>Priority</th>
        </tr>

        <tr th:each="position : ${portfolio.getPositions()}">
            <td><a th:href="@{'/position/view/' + ${position.id}}" th:text="${position.symbol}"></a></td>
            <td th:if="${position.getSimStock() != null}" th:text="${position.getSimStock().name}"></td>
            <td th:unless="${position.getSimStock() != null}" th:text="${stocks.get(position.symbol)}"></td>
            <td th:text="${position.shares}"></td>
            <td th:text="${position.percentage} + '%'"></td>
            <td th:text="${position.reinvest}"></td>
            <td th:text="${position.priority}"></td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Cash</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td th:text="${portfolio.getCash()}"></td>
            <td th:text="${portfolio.getBalance()}"></td>
        </tr>
    </table>

    <p th:text="${'# of Years Projected: ' + portfolio.getYears()}"></p>
</div>

    <p>
        <a th:href="'/portfolio/add-item/' + ${portfolio.id}">Add Position</a>
        <a href="/portfolio/edit">Edit Portfolio</a>
    </p>
    <p>
        <a href="/portfolio/">Back to Portfolio List</a>
    </p>

<hr />
<form method="post" action="/portfolio/simulate">
    <input id="portfolioId" type="hidden" name="portfolioId" th:value="${portfolio.id}" />
    <label for="years"># of Years Projected: </label>
    <input id="years" type="text" name="years" th:value="${portfolio.years}" />
    <input type="submit" value="Calculate" />
</form>
</div>
</body>
<footer>
    <hr />
    <div th:replace="fragments :: data-cite"></div>
</footer>
</html>